mat-toolbar{
    position: relative;
    z-index: 5;
}
mat-sidenav-container{
    height: calc(100vh  -   64px);
}
.content{
    padding: 24px;
}
mat-sidenav, mat-sidenav-content{
    transition: all 400ms ease-in-out;
}
.mat-form-field {
    width: 150px;
    margin: 5px;
}
 
.mat-input {
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid #ddd;
}
 
.mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #ddd;
}
 
.content-body {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 4px !important;
    border-radius: 4px;
    background-color: #ffffff;
}
mat-toolbar{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.6);
  
    &.topbar{
        padding: 0px 15px;
    }
    .navbar-header {
        
        text-align: center;
        .navbar-brand {
            display: flex;
            //line-height: 15px;            
            align-items: center;                       
        }
    }
    
     
}
.content-center-left {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .topbar {
    position: relative;
  
    z-index: 2;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
}
.button-sidebar{
    margin-left: -140px;
}